* {
    margin: 0;
    padding: 0;
    z-index: 0;
}
nav{
z-index: 1;
 height: 5%;
 width: 100%;
 background-color: #1b1b1b;
 position: fixed;
 display: flex;
 justify-content: flex-end;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 align-items: center;
 border-bottom: solid 1px #fff;
}

ul > li {
list-style: none;
display: inline-block;
}
body{
    background-color:black ;
}
li a {
    border: solid 1px #1b1b1b;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
}

li a:hover {
 border: solid 1px #fff;
}
p {
    color: #fff;
}
#socials1{
    color: blueviolet;
    position: relative;
    left: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}